@{
    ViewData["Title"] = "";
}

<div class="row">
    <div class="col-md-12">

        <div id="Content">
            <div class="content_wrapper clearfix">

                <!-- .sections_group -->
                <div class="sections_group">

                    <div id="post-19827" class="share-simple post-19827 post type-post status-publish format-standard has-post-thumbnail hentry category-business-strategy">



                        <div class="section section-post-header">
                            <div class="section_wrapper clearfix">

                                <div class="column one post-nav minimal"><a class="prev" href="https://mutantbr.com/blog/consumidor-5-0-sua-empresa-esta-preparada-para-atende-los/"><i class="icon icon-left-open-big"></i></a><a class="next" href="https://mutantbr.com/blog/carrinho-abandonado-entenda-como-evitar-em-5-dicas/"><i class="icon icon-right-open-big"></i></a></div>
                                <div class="column one post-header">


                                    <div class="title_wrapper">

                                        <h1 class="entry-title" itemprop="headline">Mutant - Interaxa | Desafio Prático | Rodrigo Silva</h1>
                                    </div>

                                </div>

                                <div class="column one single-photo-wrapper image">

                                    <div class="image_frame scale-with-grid ">

                                        <div class="image_wrapper">
                                            <a href="https://github.com/rodrigoesilva">
                                                <div class="mask"></div><div itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                                                    <img width="1200" height="628" src="https://mutantbr.com/blog/wp-content/uploads/2019/08/post_interaxa_ok-1200x628.jpg" class="scale-with-grid wp-post-image" alt="Interaxa" srcset="https://mutantbr.com/blog/wp-content/uploads/2019/08/post_interaxa_ok.jpg 1200w, https://mutantbr.com/blog/wp-content/uploads/2019/08/post_interaxa_ok-300x157.jpg 300w, https://mutantbr.com/blog/wp-content/uploads/2019/08/post_interaxa_ok-768x402.jpg 768w, https://mutantbr.com/blog/wp-content/uploads/2019/08/post_interaxa_ok-1024x536.jpg 1024w, https://mutantbr.com/blog/wp-content/uploads/2019/08/post_interaxa_ok-260x136.jpg 260w, https://mutantbr.com/blog/wp-content/uploads/2019/08/post_interaxa_ok-50x26.jpg 50w, https://mutantbr.com/blog/wp-content/uploads/2019/08/post_interaxa_ok-143x75.jpg 143w"
                                                         sizes="(max-width: 1200px) 100vw, 1200px" pagespeed_url_hash="3495433897" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                    <meta itemprop="url" content="https://mutantbr.com/blog/wp-content/uploads/2019/08/post_interaxa_ok.jpg">
                                                    <meta itemprop="width" content="1200">
                                                    <meta itemprop="height" content="628">
                                                </div>
                                            </a>
                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- .four-columns - sidebar -->

            </div>
        </div>
    </div>
</div>
